DiscussionForumWebApp/Connected Services/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DiscussionForum.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DiscussionForum.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Registration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Registration" nillable="true" type="tns:Registration" />
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
  <xs:complexType name="Topic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discussion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Topic" nillable="true" type="tns:Topic" />
  <xs:complexType name="ForumException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForumException" nillable="true" type="tns:ForumException" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopicId" type="xs:int" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="TopicPage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discussion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comments" nillable="true" type="tns:ArrayOfCommentPage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopicPage" nillable="true" type="tns:TopicPage" />
  <xs:complexType name="ArrayOfCommentPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentPage" nillable="true" type="tns:CommentPage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentPage" nillable="true" type="tns:ArrayOfCommentPage" />
  <xs:complexType name="CommentPage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentPage" nillable="true" type="tns:CommentPage" />
  <xs:complexType name="ArrayOfTopicIndex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopicIndex" nillable="true" type="tns:TopicIndex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopicIndex" nillable="true" type="tns:ArrayOfTopicIndex" />
  <xs:complexType name="TopicIndex">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopicIndex" nillable="true" type="tns:TopicIndex" />
</xs:schema>