DiscussionForumWebApp/Connected Services/ServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiscussionForum.Models" />
  <xs:element name="registerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DiscussionForum.Models" minOccurs="0" name="registration" nillable="true" type="q1:Registration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DiscussionForum.Models" minOccurs="0" name="loginObject" nillable="true" type="q2:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTopic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DiscussionForum.Models" minOccurs="0" name="topic" nillable="true" type="q3:Topic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createTopicResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DiscussionForum.Models" minOccurs="0" name="comment" nillable="true" type="q4:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTopicPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTopicPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DiscussionForum.Models" minOccurs="0" name="getTopicPageResult" nillable="true" type="q5:TopicPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTopics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTopicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DiscussionForum.Models" minOccurs="0" name="getTopicsResult" nillable="true" type="q6:ArrayOfTopicIndex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>